.backgrownd-color {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.container {
  padding-left: 10px;
  padding-right: 10px;
}
